<!doctype html>
<html lang="en">
	<body>
		<main>
			<h1>Social Sparks - Upgrades</h1>
			<h4>
				We are currently adding new features to provide an improved social/singles events platform.<br><br>
				We will notify existing members when the new platform is ready to go.<br><br>
				We appreciate your patience during this transition.<br><br>
				For any enquiries or to delete your profile, please email us at our temporary email address socialsparksaus@gmail.com<br><br>
				Thank you
			</h4>
		</main>
	</body>
</html>
