<!doctype html>
<html lang="en">
	<body>
		<main>
			<h1>Social Sparks</h1>
			<h3>
				We are currently adding new features, we appreciate your patience as we work to provide an improved social/singles events platform.<br>
				We will notify existing members when the new platform is ready to go.<br>
				For any enquiries or to delete your profile, please email us at our temporary email address socialsparksaus@gmail.com<br>
				Thank you
			</h3>
		</main>
	</body>
</html>
